body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    font-family: 'Arial', sans-serif;
    background-color: #E9EBEE; 
}

#chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px 40px; 
    box-sizing: border-box; 
    background-color: #FFFFFF; 
}

#chat-history {
    flex-grow: 1;
    overflow-y: auto; 
    padding: 10px 20px; 
    margin-bottom: 10px; 
    background-color: #FFFFFF; 
}

#user-input {
    height: 50px; 
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 18px;
    resize: none; 
}

#send-button {
    cursor: pointer;
    background-color: #0078FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 18px;
    font-weight: bold;
    height: 50px; 
}

.message {
    padding: 8px 12px;
    margin: 4px 0; 
    border-radius: 18px;
    background-color: #f1f1f1;
    color: black;
    font-size: 14px;
    line-height: 1.4;
    display: block; 
    max-width: 50%; 
    word-wrap: break-word;
}

.user-message {
    background-color: #0078FF;
    color: white;
    align-self: flex-end;
    margin-left: auto;
}

.ai-message {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
    margin-right: auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
